<!-- extendo o html da página layout para cá -->
{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>Cadastre</h3><hr>
        <form method="post" action="{{ url_for('add_user') }}">
            <div class="form-group">
                <label for="">Nome</label>
                <input type="text" name="nome" required class="form-control">
            </div>

            <div class="form-group">
                <label for="">Idade</label>
                <input type="text" name="idade" required class="form-control">
            </div>

            <div class="form-group">
                <label for="">Endereço</label>
                <input type="text" name="endereco" required class="form-control">
            </div>

            <div class="form-group">
                <label for="">Cidade</label>
                <input type="text" name="cidade" required class="form-control">
            </div>

            <div class="form-group">
                <label for="">Numero</label>
                <input type="text" name="numero" required class="form-control">
            </div>

            <div class="form-group">
                <label for="">Estado</label>
                <input type="text" name="estado" required class="form-control">
            </div>

            <div class="form-group">
                <label for="">E-mail</label>
                <input type="text" name="email" required class="form-control">
            </div>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}
